.contentWrapper {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.4));
    border-radius: 1rem;
    height: 55rem;
}

.heading{
    text-shadow: 0 0 5px blue, 0 0 5px blue, 0 0 5px blue;
}