.searchInput {
    width: 55%;
    margin: 0 auto;
    font-size: 2rem;
    color: white;
    display: block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
}