@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
  font-size: 62.5%;
}

body {
  color: #eee !important;
  font-size: 2rem !important;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background-image: url('./img/manouchehr-hejazi-QeoXkIesiCo-unsplash.jpg');
  background-position: center;
}

/* Styling for pagination */
.page-link {
  text-shadow: 0 0 0px #581728, 0 0 0px #581728, 0 0 3px #581728 !important;
  color: #581728 !important;
}
.page-link:focus {
  box-shadow: none !important;
}

.page-item.active .page-link {
  color: #eee !important;
  background-color: #581728 !important;
  border-color: #581728 !important;
  text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white !important;
}

/* Styling for Modal window */

.modal-backdrop.show {
  opacity: 0.7 !important;
}

.modal-content {
  width: 25rem !important;
  color: #eee !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./img/bg-modal.jpg');
  box-shadow: 0px 0px 7px 4px white !important;
  border-radius: 1rem !important;
}
.modal-body {
  padding: 2rem !important;
  text-shadow: 0 0 5px green, 0 0 5px green, 0 0 5px green !important;
}
.modalClose {
  cursor: pointer !important;
  width: 3rem;
  background: transparent;
  border: none;
  color: #eee;
  position: absolute;
  top: 5px;
  right: 10px;
}

.modalClose svg:hover {
  filter: drop-shadow(0 0 0.5rem #000);
}
.charName{
  text-shadow: 0 0 5px blue, 0 0 5px blue, 0 0 5px blue !important;
}

@media only screen and (min-width: 576px) {
  .modal-content {
    width: 55rem !important;
  }
  .modal-backdrop.show {
    opacity: 0.2 !important;
  }
}